.errors{
    color: rgb(206, 17, 17);
    text-align: center;
    font-weight: bolder;
}
body{
    background-image:url('log.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
  }
  .row{
    width: 550px;
    background-color: rgb(0,0,0,0.6);
    margin: auto;
    color: #ffffff;
    padding: 10px 0px 0px 10px;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
}
.log{
    background-color: rgb(0,0,0,0.5);
    width: 550px;
    height: 280px;
    margin: auto;
    color: #ffffff;
    padding: 0px 1px 1px 0px;
    text-align: center;
    border-radius: 0px 0px 15px 15px;
}
  .box{
    padding: 134px;
}
.acc1{
    margin-left: 25px;
    margin-top: 30px;
    padding: 3px;
    width: 160px;
    color:white;
    font-size: medium;
    font-weight: 700;
}
.pass1{
    margin-left: 25px;
    margin-top: 30px;
    width: 160px;
    color:white;
    font-size: medium;
    font-weight: 700;
}
button{
    display: block;
    margin: 20px 3px 5px 220px ;
    text-align: center;
    border-radius: 12px;
    padding: 14px 70x;
    outline: none;
    font-weight: bolder;

}
a{
    margin:0px 3px 0px 0px;
    text-align: center;
    border-radius: 12px;
    padding: 14px 70x;
    outline: none;
    font-weight: bolder;

}
.box input[type="text"],.box input[type="password"]{
    border: 0;
    background: black;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #ffffff;
    margin: 2px 5px 5px 2px;
    padding: 14px,10px;
    width: 250px;
    height: 34px;
    outline: none;
    color: white;
    border-radius: 30px;
    transition: 0.20s;
}
.box input[type="text"]:focus,.box input[type="password"]:focus{
    width: 270px;
    border-color: #2ecc71;
}